<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asenturk.baseproject">
    <!-- internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.WebViewActivity"></activity>
        <!-- useCleartxtTraffic=true added for retrofit -->
        <!-- ActiveAndroid DB name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ActiveAndroid" /> <!-- ActiveAndroid DB version -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" /> <!-- Active Android Entity path. NOT REQUIRED. FOR THE OPTIMIZING. -->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.asenturk.baseproject.Entities.Item, com.asenturk.baseproject.Entities.Category" /> <!-- SECURITY SETTINGS FOR ACTIVEANDROID -->
        <!-- authorities property must be project's package name -->
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.asenturk.baseproject"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>